@model StarIt.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div>
    <form action="/register" method="post">
        <h1>@ViewBag.Title</h1>
        @Html.ValidationSummary()
        <p>
            <label>Nickname</label>
            <input name="Nickname" type="text" value="@Model.Nickname"/>
            @Html.ValidationMessageFor(m => m.Nickname)
        </p>
        <p>
            <label>Email</label>
            <input name="Email" type="text" value="@Model.Email"/>
            @Html.ValidationMessageFor(m => m.Email)
        </p>

        <p>
            <label>Password</label>
            <input name="Password" type="password" value="@Model.Password"/>
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            <button type="submit">Sign up!</button>
        </p>
    </form>
</div>